name: Build test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  format_and_clippy:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        projects: ["rust-dap", "rust-dap-rp2040", "uart-test", "boards/rpi_pico", "boards/xiao_m0", "boards/xiao_rp2040"]
    container:
      image: rust:1.61.0-slim-bullseye
    steps:
      - uses: actions/checkout@v2
      - name: setup
        run: rustup component add rustfmt clippy
      - name: target add thumbv6m-none-eabi
        run: rustup target add thumbv6m-none-eabi
        if: ${{ startsWith(matrix.projects, 'boards') }}
      - name: install package dependencies
        run: apt-get update && apt-get -y install pkg-config libudev-dev
        if: ${{ matrix.projects == 'uart-test' }}
      - name: cargo fmt for ${{ matrix.projects }}
        run: cargo fmt --all -- --check
        working-directory: ${{ matrix.projects }}
      - name: cargo clippy for ${{ matrix.projects }}
        run: cargo clippy
        working-directory: ${{ matrix.projects }}
        if: ${{ matrix.projects != 'boards/rpi_pico' }}
      - name: cargo clippy for boards/rpi_pico
        run: |
          cargo clippy --features swd
          cargo clippy --features swd,bitbang
          cargo clippy --no-default-features --features jtag
        working-directory: ${{ matrix.projects }}
        if: ${{ matrix.projects  == 'boards/rpi_pico' }}
